/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* ===== Menu ===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --content-text: #333;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --content-text: #fff;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

/* ===== Image Generator ===== */

.image-generator {
    height: 63vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .image-generator::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #121212;
  }
  
  .image-generator .content {
    position: relative;
    color: #fff;
    padding: 40px;
    max-width: 760px;
    text-align: center;
  }
  
  .image-generator h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .image-generator p {
    margin-top: 10px;
    font-size: 1.35rem;
  }
  
  .image-generator .generate-form {
    height: 56px;
    padding: 6px;
    display: flex;
    margin-bottom: 15px;
    background: #fff;
    align-items: center;
    border-radius: 30px;
    margin-top: 45px;
    justify-content: space-between;
  }
  
  .generate-form .prompt-input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 19px;
    border: none;
    background: none;
    font-size: 1rem;
    border-radius: 30px;
  }
  
  .generate-form .controls {
    display: flex;
    height: 100%;
    gap: 15px;
  }
  
  .generate-form .img-quantity {
    outline: none;
    border: none;
    height: 44px;
    background: none;
    font-size: 1rem;
  }
  
  .generate-form .generate-btn {
    font-size: 1rem;
    outline: none;
    border: none;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    height: 100%;
    padding: 0 25px;
    border-radius: 30px;
    background: #4949E7;
  }
  
  .generate-form .generate-btn[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }
  
  .generate-form button:hover {
    background: #1d1de2;
  }
  
  .image-gallery {
    display: flex;
    gap: 15px;
    padding: 0 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    max-width: 1250px;
  }
  
  .image-gallery .img-card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 285px;
  }
  
  .image-gallery .img-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .image-gallery .img-card.loading img {
    width: 80px;
    height: 80px;
  }
  
  .image-gallery .img-card .download-btn {
    bottom: 15px;
    right: 15px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
  }
  
  .image-gallery .img-card .download-btn img {
    width: 14px;
    height: 14px;
  }
  
  .image-gallery .img-card:not(.loading):hover .download-btn {
    opacity: 1;
    pointer-events: auto;
  }
  
  @media screen and (max-width: 760px) {
    .image-generator {
      height: 45vh;
      padding-top: 30px;
      align-items: flex-start;
    }
  
    .image-generator h1 {
      font-size: 1.8rem;
    }
  
    .image-generator p {
      font-size: 1rem;
    }
  
    .image-generator .generate-form {
      margin-top: 30px;
      height: 52px;
      display: block;
    }
  
    .generate-form .controls {
      height: 40px;
      margin-top: 15px;
      justify-content: end;
      align-items: center;
    }
  
    .generate-form .generate-btn[disabled] {
      opacity: 1;
    }
  
    .generate-form .img-quantity {
      color: #fff;
    }
  
    .generate-form .img-quantity option {
      color: #000;
    }
  
    .image-gallery {
      margin-top: 20px;
    }
  
    .image-gallery .img-card:not(.loading) .download-btn {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .image-gallery .img-card {
      width: 100%;
    }
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* ===== Footer ===== */

 footer
{
 background-color:#111;
 }
 .footercontainer
 {
 width: 100%;
  padding: 70px 30px 20px;
 }
 .socialIcons{
  display:flex;
  justify-content:center;
  
 }
 .socialIcons a
 {  text-decoration: none;
    padding: 10px;
    background-color:white;
    margin: 10px;
    border-radius: 50%;
 }
 .socialIcons a i{
     font-size: 2em;
      color:black;
     opacity: 0.9;
 } 
 .socialIcons a:hover
 {
    background-color:#111;
    transition: 0.5s;
 }
 .socialIcons a:hover i
 {
    color:white;
    transition: 0.5s;
 }
 .footerNav{
     margin: 30px 0;
 }
  .footerNav ul{
     display: flex;
     justify-content: center;
     list-style-type:none;
  }
  .footerNav ul li a
  {
     color:white;
     margin: 20px;
     text-decoration: none;
     font-size: 1.3em;
     opacity: 0.7;
     transition: 0.5s;
  }
  .footerNav ul li a:hover
  {
     opacity:1;
  }
  .footerBottom{
 background-color:#000;
 padding:20px;
 text-align:center;
  }
  .footerBottom p{
     color:white;
  }
  @media (max-width:700px){
     .footerNav ul
     {
         flex-direction: column;
     }
     .footerNav ul li{
         width:100%;
         text-align: center;
         margin: 10px;
     }
     }
     .wrapper {
      max-width: 75%;
      margin: auto;
    }
    
    .wrapper > p,
    .wrapper > h1 {
      margin: 1.5rem 0;
      text-align: center;
    }
    
    .wrapper > h1 {
      letter-spacing: 3px;
    }
    
    .accordion {
      background-color: white;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      font-size: 1.2rem;
      width: 100%;
      padding: 2rem 2.5rem;
      border: none;
      outline: none;
      transition: 0.4s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }
    
    .accordion i {
      font-size: 1.6rem;
    }
    
    .active,
    .accordion:hover {
      background-color: #f1f7f5;
    }
    .pannel {
      padding: 0 2rem 2.5rem 2rem;
      background-color: white;
      overflow: hidden;
      background-color: #f1f7f5;
      display: none;
    }
    .pannel p {
      color: rgba(0, 0, 0, 0.7);
      font-size: 1.2rem;
      line-height: 1.4;
    }
    
    .faq {
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin: 10px 0;
    }
    .faq.active {
      border: none;
    }
/* ===== Pages ===== */
 body {
            font-family: Poppins, sans-serif;
            margin: 0;
            padding: 60px 0px;
            line-height: 1.6;
            color: var(--content-text);;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }
